:root {
  --font-main: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-secondary: "Montserrat Alternates", sans-serif;
  --font-bold: 700;

  --tapiz: #EBF0F6;
  --primario: #0568FD;
  --secundario: #FAE6E9;
  --base-3: #F18789;
  --base-4: #F1A662;
  --black: #263238;
  --d-grey: #4D4D4D;
  --grey: #717171;
  --l-grey: #89939E;
  --grey-blue: #ABBED1;
  --silver: #F5F7FA;

  color:var(--main-cream);
  background-color: var(--main-dark);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-secondary);
  font-weight: 700;
}